@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .contenedorDetallePost{
    // width: 428px;
    height: 100%;
    margin-bottom: 60px;

    h3{
        padding: 20px 15px 30px 15px;
        font-family: "Balsamiq Sans";
        font-weight: lighter;
        font-size: 13px;
    }
  }

.imageDescription {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    box-sizing: border-box;
    position: relative;
  }

.postInfoOverlayDescri {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    // position: absolute;
    // top: 41%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // padding-left: 15px;
    background-color: white ;
    border-radius: 18px;
    width: 60%;
    height: 50px;

    .perfilUser{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        margin-right: 10px;
        border-color: #ff7674 #ff74b7 #ff74fc #ffbc74; 
              border-width: 2px; 
              border-style: solid; 
              /* Este valor indica cómo se debe cortar la imagen para crear los bordes */
              border-image-slice: 1;
      }

    .postInfoOverlayIcons{
        display: flex;
        align-items: center;
    }
  }

  .postCard:hover .postInfoOverlay {
    opacity: 1; /* Mostrar al pasar el ratón sobre la tarjeta */
  }

  .postInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 15px;
  }

  .postInfo span {
    margin-left: 5px;
    margin-top: 5px;
    font-family: "Balsamiq Sans";
    font-size: 10px;
  }

  .textPosts {
    padding: 10px 10px 10px 15px;
    display: block;
  }

  .containerComment{
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: fixed;
    // bottom: 80px;
    // left: 10%;
    width: 80%;
    height: 30px;
    background-color: white;
    border-radius: 15px;

    .perfilUser{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        // background-size: cover;
        margin-right: 10px;
              /* Este valor indica cómo se debe cortar la imagen para crear los bordes */
              border-image-slice: 1;
      }

    .textComment {
        display: flex;
        align-items: center;
    }

   .textComment input{
    height: 30px;
    // width: 100%;
    border-radius: 18px;
    background-color: white;
    border: none;
   }
  }